body {
  margin: 0;
  font-family: arial, sans-serif;
  line-height: 1.5;font-family: 'Amatic SC', cursive;
font-family: 'Rubik', sans-serif;
    caret-color: deepskyblue;
}
h1{color: brown; caret-color: deepskyblue;font-weight: 300;font-size: 50px
}
h2{color: darksalmon; font-family: arial, sans-serif;font-size: 25px;}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h3{color: darksalmon; font-family: arial, sans-serif;font-size: 25px;} 
.container{max-width:800px; margin: auto;
}


.cta{background-color: bisque; padding: 20px; margin;  }
.cta h3{color: brown;font-size: 20px}
.button {
  background-color: brown;
  color: #fff;
  text-decoration: none;
  padding: 14px;
  display: inline-block;
}
.alignleft {
  max-width: 40%;
  float: left;
  margin-right: 14px;
  margin-bottom: 14px;
    overflow: hidden;
        
}



