body {
    margin: 0;

    font-family: 'Alef', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Varela Round', sans-serif;
}

.about {
    background:#7EC4FC;
    font-family: 'Varela Round', sans-serif;
    : 20px
}

h1,
h2,
h3,
.button {
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    : 30px; color:#fff;
}

.container {
    max-width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 30px;


}

p {
    color: #000;
    font-family: 'Varela Round', sans-serif;
    24px;
}

h1 {
    font-family: 'Amatic SC', cursive;

    color:#fff;
    font-size: 50px;
    line-height: 1.1;
}

}

.about img {max-width: 50%;
    display: block;
    margin-top: 40px;
}
.button {
    
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;

}

.button:hover {
     color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;

    
}



.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#60acff;
     font-family: 'Varela Round', sans-serif;


}

.gallery img {
    display: block;
}

.about img {
    display: block;
    margin-top: 10px
}

h2 { color:#a77ca6;
    font-size: 25px;
    text-align: center;
   

}
.contact {
  background:#60acff ;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  padding: 40px 0;
}


a {color: #fff;
    
}
.contact h2{color: #fff;font-family: 'Amatic SC', cursive;font-size: 50px;} 
.contact p{color: #000;font-size: 20px;}
.footer {
  background:#a77ca6;
  text-align: center;
  padding: 40px 0;
}
.footer a {
  margin: 0 10px;
}
