body {
    margin: 0;

    font-family: 'Alef', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Varela Round', sans-serif;
}

.about {
    background:#7EC4FC;
    font-family: 'Varela Round', sans-serif;
    : 20px
}

h1,
h2,
h3,
.button {
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    : 30px; color:#fff;
}

.container {
    max-width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 30px;


}

p {
    color: #000;
    font-family: 'Varela Round', sans-serif;
    24px;
}

h1 {
    font-family: 'Amatic SC', cursive;

    color:#fff;
    font-size: 50px;
    line-height: 1.1;
}

}

.about img {max-width: 50%;
    display: block;
    margin-top: 40px;
}

.button:hover {
    
    color: #000;
    text-decoration: none;
    border: 3px solid #000;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;

}



.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#60acff;
     font-family: 'Varela Round', sans-serif;


}

.gallery img {
    display: block;
}

.about img {
    display: block;
    margin-top: 10px
}

h2 { color:#6DC065;
    font-size: 25px;
    text-align: center;
   

}
