@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'opensans', arial, sans-serif;
    line-height: 1.5;
}

@font-face {
    font-family: 'ambivalenti';
    src: url('fonts/ambivalenti-tzar/400/ambivalenti-tzar-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background: #fff;
    color:;
    margin: 0;
    font-family: 'almoni', sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-size: 30px;
    font-family: 'opensans';
    font-weight: 700;
    grid-gap: 15px;
    color: #E21B2B;
}

.banner {
    background-image: linear-gradient(rgba(225, 225, 225, 225), rgba(225, 225, 225, 0)),
        url(img/reg6.jpg);
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.banner img {
    max-width: 15%;
}




p1 {
    font-size: 15px;
    font-family: 'opensans';
    font-weight: 400;
    grid-gap: 15px;
color: #000;
}

.button {
    font-size: 20px;
    font-family: 'opensans';
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background: #d4a5b8;
    padding: 10px 40px;
    display: inline-block;
    grid-gap: 15px
}

.button:hover {
    background: #ed676f;
    color: #fff;
}

h2 {
    font-size: 25px;
    font-family: 'opensans';
    font-weight: 700;
    text-align: center;
    color: #FF8089;
}

h2:after {
    content: "";
    border-bottom: 3px solid #FCC5DF;
    width: 80px;
    display: block;
    margin: auto;

}

p {
    text-align: center;
    font-size: 15px;
    font-family: 'almoni', sans-serif;
    font-weight: 400;
    grid-gap: 30px;
}

h1:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 500px;
    display: block;
    margin: auto;

}
.features {
  background: #fff;
  text-align: center;
}
.features ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 56px;
}
.features img {
  max-width: 100px;
}
footer {
  background: #FCC5DF;
  color: #fff;
  text-align: center;
  padding: 5px;
}
header {
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: crimson;
  padding: 10px;
  display: block; 
   
     list-style: none;
  
  
   
   
}


