@font-face {
    font-family: 'Rubik', sans-serif;
}

@font-face {
    font-family: 'Rubik', sans-serif;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'opensans', arial, sans-serif;
    line-height: 1.5;
}

@font-face {
    font-family: 'ambivalenti';
    src: url('fonts/ambivalenti-tzar/400/ambivalenti-tzar-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background: #fff;
    color: ;
    margin: 0;
    font-family: 'almoni', sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

img {

    width: auto;
    height: auto;
}

h1 {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    grid-gap: 15px;
    color:#5CAADE;
}

.banner {
    background-image: linear-gradient(rgba(225, 225, 225, 0), rgba(0, 225,225,0)),
        url(img/reg8.jpg);
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.banner img {
    max-width: 15%;
}




p {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    grid-gap: 15px;
    color: #92298D;
}

.button {
    font-size: 15px;
    font-family: 'opensans';
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background:  #F77986;
    padding: 10px 20px;
    display: inline-block;
    grid-gap:5px
}

.button:hover {
    background:  #5CAADE;
    color: #fff;
}

h2 {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #5CAADE;
}

h2:after {
    content: "";
    
    width: 80px;
    display: block;
    margin: auto;

}

p {
    color: #000;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 15px;

    font-weight: 400;
    grid-gap: 30px;
}

h1:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 500px;
    display: block;
    margin: auto;

}

.features {
    background: #fff;
    text-align: center;
    margin: auto;
    
}
.p features {
    grid-template-columns: 1fr 1fr;}
.features p{f1,f2}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 56px;
}

.features img {
    max-width: 100px;
}

footer {
    background: #d1f1fc;
    color: #fff;
    text-align: center;
    padding: 5px;
}

header {
    text-align: center;
}

nav img {
    display: block;
    min-width: 80px!important;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    
    padding: 10px;


    width: 110px;
    list-style: none;
    font-family: 'opensans';
    font-size: 15px;
    text-decoration: none;

    display: inline-block;

    margin: 10px;
    color: #EA0D8C;


}


nav a:hover {
    color: #000;
    
}

.container {
    max-width: 800px;
    margin: auto;




}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}



.current a {
    font-weight: bold;
}

.price-list {
    list-style: none;
    padding: 0;
    columns: 2;
}


.price-list li {
    display: flex;
    margin-bottom: 10px;
}

.line {
    flex: 1;
    border-bottom: 2px solid;
    height: 1em;
    margin: 0 5px;
    justify-content: space-between;color:#FFEEF7;
}

link {}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #5CAADE;border-bottom: 1px solid #F288B7;



}

p1 {
    font-family: 'Rubik', sans-serif;

}

.title {
    color:  #EC3E95; font-family: 'opensans';
    font-size: 18px;
   


}

.price {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #F77986;

}

div { margin: auto;
    color: #000;

}

.price-wrop img {
    width: 100px;
    margin-bottom: auto;
    display: block; 

}

.price-wrop h2 {
    text-align: center;
    margin-top: 0;
}

.price-wrop h2 after {
    margin: auto;
}



.price-wrop img {margin: auto;
     width: 90px;
    height: auto;
}

form {font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
  width: 300px;
  margin: auto;
   
}
input, textarea {
  font: inherit;
  color: inherit;
  display: block;
  border: 2px solid #EC3E95;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
form {
  width: 350px;
  margin: auto;
}
input, textarea {
  
  color: inherit;
  display: block;
  border: 0;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  background:   #d1f1fc;
}
::placeholder {
 
  opacity: 0.5; margin: auto; font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
textarea {
  height: 200px; font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
label {
  margin-bottom: 20px;
  display: block;
}
.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
span {
    color: #F77986;10px;
}



h4 {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #5CAADE;
}
.fotorama_dot.fotorama_dot {
    border-color: #f78585;
}

