
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'opensans', arial, sans-serif;
  line-height: 1.5;
}
@font-face {
  font-family: 'ambivalenti';
  src: url('fonts/ambivalenti-tzar/400/ambivalenti-tzar-aaa-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  background: #000;
  color: #000;
  margin: 0;
  font-family: 'almoni', sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1 {
  font-size: 30px;
  font-family: 'opensans';
  font-weight: 400;
}
.banner {
  background-image: linear-gradient(rgba(225,225,225,225), rgba(225,0,0,0)),
    url(img/reka1.jpg);
  background-position: center 40%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}
.banner img{max-width: 15%;}




p1 {font-size: 15px;
  font-family: 'opensans';
  font-weight: 400;
    
}
.button {
  text-decoration: none;
  color: #000;
  background: #c7a17a;
  padding: 10px 40px;
  display: inline-block;
}
.button:hover{
  background: #30271c;
  color: #fff;
}
h2:after {
  content: "";
  border-bottom: 3px solid #c7a17a;
  width: 80px;
  display: block;
    margin: auto;
}
h1:after {
  content: "";
  background: url(img/line.png) no-repeat;
  background-size: contain;
  height: 30px;
  max-width: 300px;
  display: block;
  margin: auto;
}


